<nav class="nav">
  <label for="show-menu" class="show-menu">Show Menu</label>
	<input type="checkbox" id="show-menu" role="button">
	<ul id="menu">
		<li><a href="/">Home</a></li>
		<li>
			<a>More ￬</a>
			<ul class="hidden">
				<li><a href="/events">Events</a></li>
				<li><a href="/agenda">Agenda</a></li>
				<li><a href="/speakers">Speakers</a></li>
				<li><a href="/venue">Venue</a></li>
				<li><a href="/agenda">FAQs</a></li>
				<li><a href="/team">Team</a></li>
				<li><a href="https://docs.google.com/forms/d/1t33umLtawl2ZhnTsFlG0CHeTwo5tnTp1BbWeHNcj0Rw/viewform?c=0&w=1">Register</a></li>
			</ul>
		</li>
		<li><a href="/contacts">Contact Us</a></li>
	</ul>
</nav>