<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What Technology Is All About</h2>
                </div>
            </div>
            <div class="row">
                <p>The Malaysian Student’s Technology Conference (MSTC), organised under 
                    <a href="http://mssm.man.ac.uk/">Malaysian Students Society of Manchester (MSSM)</a> and in 
                    partnership with <a href="https://www.talentcorp.com.my/">TalentCorp Malaysia</a>, 
                    is an annual event connecting the brightest students and graduates with leading 
                    executives, academics and entrepreneurs from the technology field.
                </p>

                <p>As the largest event of its kind, the Conference provides an unmatched opportunity to
                    discuss current developments in the technology industry with a line-up of accomplished 
                    speakers and a chance to network with future co-workers and employers. The event covers 
                    a breadth of recent topics and features panel discussions, keynote addresses, workshops 
                    and networking opportunities. This event is ideal for undergraduates and postgraduates 
                    from a wide range of disciplines and universities interested in pursuing a career in the 
                    technology field.
                </p>

                <p>Participation is free for all. You’ll only need to pay a deposit fee which will be
                    returned to you when you register at the conference. More details on ticketing, speaker
                    line-up and the event itself will be posted here and our 
                    <a href="https://www.facebook.com/malaysianstudentstechnologyconference">Facebook Page</a>.
                </p>

                 <center><a href="/register" class="page-scroll btn btn-xl">Register Now</a></center>
            </div>
        </div>
    </section>