<!-- Clients Aside -->
    
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/UEM_Group_Logo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/logo-accenture.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="img/logos/logo_agresif.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>