.agenda {
  table-layout: fixed;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;

  td {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  /* Column widths are based on these cells */
  .agenda-time {
    width: 40%;
  }
  .agenda-actiity {
     width: 60%;
  }
  th, td {
    border: 1px solid black;
    font-size: 120%;
  }
  th {
      background: lightblue;
  }
  td {
    text-align: center;
    font-size: 110%;
    a {
        color: DodgerBlue;
        text-decoration: none;
    }
    b {
        color: RoyalBlue;
    }
  }
  td + td {
    text-align: left;
    padding-left: 10px;
  }
}

@media screen and (max-width: 760px){
    .agenda {
        .agenda-time {
            width: 40%;
        }
        .agenda-actiity {
            width: 60%;
        }
        td, th {
            font-size: 100%;
        }
        td {
            padding-left: 0px;
        }
        td + td {
            padding-left: 10px;
        }
    }
}