/*fixed footer*/
footer {
  background-color: transparent;
  z-index: 9999;
  width: 100%;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-style: italic;
  color: darkslateblue;
  text-shadow: 0.8px 0.8px white;
  position: fixed;
  font-size: 120%;
  font-family: 'Sanchez', serif;
}