//Frame
.black-frame {
  border-radius: 5px;
  overflow: hidden;
  background: white;
  box-sizing: border-box;
  padding: 5%;
  margin: 2em auto;
  box-shadow: 0.1em 0 2em black;
}

.venue-top {
  padding-top: 50px;
}

.venue-map {
  iframe {
    height: 60vh;
    width: 100%;
  }
}

.event {
  padding: 5%;
  margin: 100px 20vw 60px 20vw;
  img {
    width: 100%;
  }
  a {
    color: darkblue;
  }
  h1 {
    margin: 0;
  }
  h1, h2, h3, ol, p {
    color: black; 
    text-align: left;
  }
  p, ol {
    font-size: 110%;
  }
}

@media screen and (max-width : 1200px){
  .venue {
    h1, h2, p {
      padding: 0 15vw 0 15vw;
    }
  }
  .event {
      margin: 100px 15vw 60px 15vw;
  }
}

@media screen and (max-width : 760px){
  .venue-map {
    iframe {
      height: 45vh;
    }
  }
  .event {
      margin: 50px 10px 10px 10px;
  }
  h1 {
    font-size: 130%;
  }
  h2 {
    font-size: 120%;
  }
  p, ol, li {
    font-size: 100%;
  }
}
