<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Malaysian Students' Technology Conference<br></div>
                <div class="intro-lead-in">27 - 28 August 2016</div>
                <div class="intro-lead-in">Taylor's University Lakeside Campus Malaysia</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include sponsors.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>